@model List<EmployeePerformancesManagementSystem.MVC.Models.ReviewCycle>

<h2>Review Cycles</h2>
<a href="/HRAdmin/AddReviewCycle" class="btn btn-primary mb-2">Add Review Cycle</a>
<table class="table">
</table>